<ion-view view-title="Project Planner">
  <ion-content>
    <div id="reminder">
      <span>Add a new reminder?</span>
	  <a href=""><span class="icon ion-ios-plus-outline"></span></a>
	</div>
	<ion-list>
	  <div class="card">
	    <div class="item item-divider">
					<span class="icon ion-ios-arrow-down"></span>
					<span class="filter">Filter</span>
					<span class="title">Current Work</span>
				</div>
				<ion-item class="solution">
					<div class="padding-horizontal">
						<span id="proj_name">Project Name</span>
						<span id="proj_date">Date Due</span>
						<p id="proj_desc">Project Description</p>
					</div>
				</ion-item>
				<ion-item class="post">
					<div class="padding-horizontal">
						<span id="proj_name">Project Name</span>
						<span id="proj_date">Date Due</span>
						<p id="proj_desc">Project Description</p>
					</div>
				</ion-item>
				<ion-item class="error">
					<div class="padding-horizontal">
						<span id="proj_name">Project Name</span>
						<span id="proj_date">Date Due</span>
						<p id="proj_desc">Project Description</p>
					</div>
				</ion-item>
			</div>
		</ion-list>
		<ion-list>
			<div class="card">
				<div class="item item-divider">
					<span class="icon ion-ios-arrow-down"></span>
					<span class="filter">Filter</span>
					<span class="title">Completed Work</span>
				</div>
				<ion-item class="post">
					<div class="padding-horizontal">
						<span id="proj_name">Project Name</span>
						<span id="proj_date">Date Posted</span>
						<p id="proj_desc">Project Description</p>
					</div>
				</ion-item>
				<ion-item class="error">
					<div class="padding-horizontal">
						<span id="proj_name">Project Name</span>
						<span id="proj_date">Date Posted</span>
						<p id="proj_desc">Project Description</p>
					</div>
				</ion-item>
				<ion-item class="solution">
					<div class="padding-horizontal">
						<span id="proj_name">Project Name</span>
						<span id="proj_date">Date Posted</span>
						<p id="proj_desc">Project Description</p>
					</div>
				</ion-item>
			</div>
		</ion-list>
	</ion-content>
</ion-view>